{% extends 'base.html' %}


{% block content%}
<p>You made it!</p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="alert alert-danger">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
    {% if 'username' in session %}
        <a class="btn btn-outline-danger mb-4" href="/logout">LOGOUT</a>
        <a class="btn btn-primary mb-4" 
           href="/users/{{user.username}}/feedback/add">Add Feedback!</a>
        <a class="btn btn-danger mb-4" href="/users/{{ user.username }}/delete">Delete Account!!</a>

     <div class="text-success">

        <p>USERNAME: {{ user.username }}</p>
        <p>EMAIL: {{ user.email }}</p>
        <p>FIRST NAME: {{ user.first_name }}</p>
        <p>LAST NAME: {{ user.last_name }}</p>
    </div>
    <ul>
    {% for feedback in user.feedbacks %}
     <li><a href="/feedback/{{ feedback.id }}/update">{{ feedback.title }}, {{ feedback.content }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}